
.SimplePluginLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/scanner.jpg') no-repeat;
}

.SimplePluginLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/scanner.jpg') no-repeat;
}

.SimplePluginLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/scanner.jpg') no-repeat;
}

.SimplePluginLaunchIcon {
	width: 32px;
	height: 32px;
	background: url('images/scanner.jpg') no-repeat;
}
